.files-container {
     margin: auto;
     width:120px;
     height: auto;
     text-align: center;
     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: 30px auto;
     float: left;
}

.file-header {
    margin: auto;
}

.file-list {
    list-style: none;
    justify-self: auto;
}

.file-list > li {
    padding-right: 30px;
}