.connectedusers-container {
    margin: auto;
    width: 120px;
    height: auto;
    text-align: center;
    float: left;

}

.user-list {
    list-style: none;
    margin:auto;

}

.user-list > li{
    padding-right: 35px;
}